<% var noReplayTopics =yield $Topic.getNoReplyTopics()%>

<div class="ui cards">
  <div class="card">
    <div class="content">
      <b>无人回复的话题</b>
      <div class="ui divider"></div>
       <div class="ui list">
         <% noReplayTopics.forEach(function (topic) {%>
                 <a href="/topic/<%=topic._id%>" class="item summary"><%=topic.title %></a>
        <% })%>
       </div>
    </div>
  </div>
</div>