

 <%
  var pages=Math.ceil(count /10)
  var page=+$this.query.pageIndex||1;

  var items=[page-2,page-1,page,page+1,page+2]
  var prePage='?pageIndex='+(page -1)
  var nextPage='?pageIndex'+(page+ 1)
  %>
<div class="ui pagination menu">
  <% if(page && page >1){%>
  <a href="?pageIndex=<%= page-1%>" class="icon item">
    <i class="left arrow icon"></i>
  </a>
  <%}%>
  <% items.forEach(function (item) {%>
    <%if (item && (item >0) && (item <=pages) && (pages >1)){%>
  <a href="?pageIndex=<% item%>" class="<%=(page==item)?'active':''%>"><%=item%></a>
  <%}%>
  <%})%>
  <% if(page && page <pages){%>
  <a href="?pageIndex=<%= page+1%>" class="icon item">
    <i class="right arrow icon"></i>
  </a>
  <%}%>
</div>