<form class="ui form" method="post">
  <div class="field">
    <label>组别</label>
    <input type="text" name="content" placeholder="组别">
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>