<% include header%>
<% var curSection="user",
        curPage="userlist"%>
<div class="container">
  <div class="ui two column centerd grid">
    <div class=" floated left aligned four wide column">
      <%include partials/menu%>
    </div>

    <div class="right floated twelve wide column" style="overflow: hidden">
    <p style="padding-top: 100px;text-align: center;font-size: 25px;font-weight: 600;">欢迎来到维修后台管理系统!</p>
    </div>

  </div>
</div>

<% include footer%>