
<% include header%>
<% var curSection="orderAdmin",
        curPage="reason"%>
<div class="container">
  <div class="ui two column centered grid">
    <div class=" floated left aligned four wide column">
      <%include partials/menu%>
    </div>

    <div class="right floated twelve wide column" style="overflow: hidden">
      <form class="ui form" method="post">
        <div class="field">
          <label>原因</label>
          <input type="text" name="content" placeholder="原因">
        </div>
        <button class="ui button" type="submit">Submit</button>
      </form>
    </div>
  </div>

</div>

<%include footer%>