
<% include header%>
<% var curSection="orderAdmin",
        curPage="reason"%>
<div class="container">
  <div class="ui two column centered grid">
    <div class=" floated left aligned four wide column">
      <%include partials/menu%>
    </div>

    <div class="right floated twelve wide column" style="overflow: hidden;text-align: right">
      <a class="ui basic button right" href="/addReason">添加原因</a>
      <table class="ui celled table">
        <thead>
        <tr>
          <th>名称</th>
          <th>时间</th>
          <th>操作</th>
        </tr></thead>
        <tbody>
        <% reasons.forEach(function (item) {%>
        <tr>
          <td><%=item.content%></td>
          <td><%=:item.create_at|fromNow%></td>
          <td><a href="/deleteReason/<%=item.content%>">删除</a></td>
        </tr>
        <%});%>
        </tbody>
      </table>
    </div>
  </div>

</div>

<%include footer%>