
<% include header%>
<% var curSection="user",
        curPage="usergroup"%>
<div class="container">
  <div class="ui two column centered grid">
    <div class=" floated left aligned four wide column">
      <%include partials/menu%>
    </div>

    <div class="right floated twelve wide column" style="overflow: hidden">
      <%include partials/userGroupAdd%>
    </div>
  </div>

</div>

<%include footer%>